body { 
	color: #727272;
	font-family: 'Raleway', sans-serif;
	background-color: #E5E5E5; 
}
p {
	line-height: 25px;
}
.mytheme_page {
	max-width: 980px; 
	margin: 0 auto;
}
.mytheme_header {
	padding:20px 0;
	text-shadow: 2px 2px 2px rgba(26, 26, 26, 0.1);
	text-align: center;
	color: #2F3727;
}
main article {
	margin: 30px 0;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
	background-color: #FFFFFF;
}
.mytheme_post_content {
	padding: 0 20px;
}
.mytheme_post_title {
	margin: 0 0 20px 0;
	padding: 10px;
	font-size: 2em;
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(26, 26, 26, 0.2);
	color: #FFFFFF;
	background-color: #8ACD36;
}
.mytheme_post_title a {
	text-decoration: none;
	color: #FFFFFF;
}
.mytheme_main_img img {
	width: 100%;
	max-width: 100%;
	border: 0;
}
.mytheme_post_info {
	overflow: auto;
	padding: 0 20px;
	background-color: #98C148;
}
.mytheme_date {
	float: left;
	padding-top: 20px;
	color: #FFFFFF;
}
.button {
	float: right;
	padding: 20px 0; 
}
.button a {
	padding: 5px;
	transition: ease .3s;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #39a9da;
}
.button a:hover {
	background-color: #199ed9;
}
.pagination {
	margin: 0 0 20px 0;
	padding: 20px;
	text-align: center;
	background-color: #FFFFFF;
}
.post-template main {
	margin-top: 30px;
}
.post article {
	margin: 0;
	padding: 20px;
	border: none;
	background-color: #FFFFFF;
}
.post .mytheme_post_title {
	margin-bottom: 0;
}